* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(400, 20px);
  grid-template-rows: repeat(250, 20px);
  gap: 1px;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ddd;
}

.slider-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.slider h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#selected-pixels {
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.order-summary {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pixel-list {
  list-style-type: none;
  margin-bottom: 20px;
}
